body {
  font-family: century gothic;
}

.container {
  width: 100%;
}

.line {
  background-color: yellow;
  width: 70px;
  height: 5px;
}

.title {
  font-size: 50px;
}

.table {
  margin-left: 180px;
  margin-top: 100px;
}

.btn {
  background-color: yellow;
  border: none;
  color: black;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}
